/.vscode/

/bin/
/obj/

/tests/
/TestResults/

**/packages/

*.tmp
*.user

**/.vs/

**/launchSettings.json

**/global.json

*.sln*

**/usersecrets.json

**/project.lock.json

**/docker-compose.yml
**/Dockerfile